@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <!-- main container -->
    <div class="wrapper">
        <aside class="sidebar">
            <img class="img_main_logo" src="@Url.Content("~/images/DMAutoService_adapt.jpg")" alt="DMAutoService">
            <div class="all_containers">
                <!-- contacts container -->
                <div class="contacts_cont">
                    <h3 class="contacts_title">Contactgegevens</h3>
                    <div>
                        <div>
                            <span class="contacts_type">C:</span>
                            <a class="contacts_content" href="+3250270283">+3250270283</a>
                        </div>
                        <div>
                            <span class="contacts_type">A:</span>
                            <a class="contacts_content">Monnikenwerve 187, 8000 Brugge</a>
                        </div>
                        <div>
                            <span class="contacts_type">E:</span>
                            <a class="contacts_content" href="mailto:brugge.dmautoservice@gmail.com">brugge.dmautoservice@gmail.com</a>
                        </div>
                        <div>
                            <span class="contacts_type_btw">BTW:</span>
                            <span class="contacts_content">BE0694562065</span>
                        </div>
                    </div>
                </div>
                <!-- car brands container-->
                <div class="brands_cont">
                    <h3 class="brands_name">Merken</h3>
                    <ul>
                        <li class="bullet">
                            <span class="brand_content">Alfa Fiat</span>
                        </li>
                        <li class="bullet">
                            <span class="brand_content">Mercedes</span>
                        </li>
                        <li class="bullet">
                            <span class="brand_content">BMW</span>
                        </li>
                        <li class="bullet">
                            <span class="brand_content">VAG</span>
                        </li>
                        <li class="bullet">
                            <span class="brand_content">etc...</span>
                        </li>
                    </ul>
                </div>

                <!-- our honoured customers container -->
                <div class="brands_cont">
                    <h3 class="brands_name">Services</h3>
                    <ul>
                        <li class="bullet">
                            <span class="brand_content">Diagnose</span>
                        </li>
                        <li class="bullet">
                            <span class="brand_content">Chiptuning</span>
                        </li>
                        <li class="bullet">
                            <span class="brand_content">Onderhoud</span>
                        </li>
                        <li class="bullet">
                            <span class="brand_content">Airco</span>
                        </li>
                        <li class="bullet">
                            <span class="brand_content">Remmen service</span>
                        </li>
                        <li class="bullet">
                            <span class="brand_content">Vervangwagen</span>
                        </li>
                        <li class="bullet">
                            <span class="brand_content">Alle elektronische herstellingen</span>
                        </li>
                        <li class="bullet">
                            <span class="brand_content">Monteren van opties</span>
                        </li>
                        <li class="bullet">
                            <span class="brand_content">Alle reparaties</span>
                        </li>
                        <li class="bullet">
                            <span class="brand_content">Nazicht keuring & Aanbieden keuring</span>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
        <!-- about me container -->
        <div class="about_me_container">
            <!-- about ne main info -->
            <div class="main_info_container">
                <h2 class="main_info_h2">Garage van Brugge</h2>
                <h1 class="main_info_h1">DM AutoService</h1>
                <p class="description">
                    De best mogelijke prestaties, duurzaam, betrouwbaar en vooral veilig.
                    Find the best decision for your car!
                </p>
            </div>
            <!-- project container -->
            <div class="other_main_containers">
                <h3 class="main_info_h3">Zie ook</h3>
                <ol>
                    <li class="numb_link">
                        <a class="link" href="https://www.facebook.com/search/top?q=dm%20autoservice">https://www.facebook.com/search/top?q=dm%20autoservice</a>
                        <span class="dots">..................................</span>

                        <span><b>[</b><span class="link">Facebook</span><b>]</b></span>
                    </li>
                    <li class="numb_link">
                        <a class="link">
                            https://www.google.com/maps/place/DM+AutoService/
                        </a>
                        <span class="dots">............................................</span>

                        <span><b>[</b><span class="link">GoogleMaps</span><b>]</b></span>
                    </li>
                </ol>
            </div>
            <!-- work experience -->
            <div class="other_main_containers">
                <!-- #1 -->
                <h3 class="main_info_h3">Wat wij aanbieden</h3>
                <h4 class="main_info_h4">Chiptuning op maat <span class="main_info_h4_highlighted">Alle merken</span></h4>
                <span class="main_info_span">Nieuw sinds 2018 <span class="delimiter">|</span> Belgie</span>
                <ul class="main_list_non">
                    <li>
                        Wereldwijd vestigingen technologie
                    </li>
                    <li>
                        Software op maat
                    </li>
                    <li>
                        Dyno tested
                    </li>
                </ul>
                <!-- #2 -->
                <h4 class="main_info_h4">Onderhoud en herstellingen <span class="main_info_h4_highlighted">Alle merken</span></h4>
                <span class="main_info_span">Sinds 2018 <span class="delimiter">|</span> Belgie</span>
                <ul class="main_list_non">
                    <li>
                        Kwaliteits service
                    </li>
                    <li>
                        Mobil olie
                    </li>
                    <li>
                        Toegang tot Mercedes portaal: Om digitale service boek in te vullen en historiek van uw wagen te zien
                    </li>
                    <li>
                        Alle mechanische herstellingen: Koppelingen vervangen, distributie, ophanging
                    </li>
                    <li>
                        Revisie van motoren
                    </li>
                </ul>
                <!-- #3 -->
                <h4 class="main_info_h4">Diagnose + coderen <span class="main_info_h4_highlighted">Elektronische en mechanische problemen</span></h4>
                <span class="main_info_span">Sinds 2018 <span class="delimiter">|</span> Belgie</span>
                <ul class="main_list_non">
                    <li>
                        Diagnose door gebruik van originele software
                    </li>
                    <li>
                        Coderen en aanpassen van software
                    </li>
                    <li>
                        Update van navigatie
                    </li>
                </ul>
            </div>
            <!-- Sertificates -->
            <div>
                <!-- #1 -->
                <h3 class="main_info_h3">Onze Certificeringen </h3>
                <h4 class="main_info_h4_highlighted">WinOLS Master</h4>
                <span class="main_info_span">Sinds 2018 <span class="delimiter">|</span> Belgie</span>
                <ul class="main_list_non">
                    <li>Bewerken van ECU kaarten</li>
                    <li>Eigen database</li>
                </ul>
                <h4 class="main_info_h4_highlighted">Mercedes onderhoudstechniekers</h4>
                <span class="main_info_span">Sinds 2018 <span class="delimiter">|</span> Belgie</span>
                <ul class="main_list_non">
                    <li>Veel jaren Mercedes ervaring</li>
                    <li>Diagnose</li>
                </ul>
                <h4 class="main_info_h4_highlighted">Werken aan hybride voertuigen</h4>
                <span class="main_info_span">Sinds 2018 <span class="delimiter">|</span> Belgie</span>
                <ul class="main_list_non">
                    <li>Veilig werken aan hybride voertuigen</li>
                    <li>Veilige service</li>
                </ul>
            </div>
            @*Registration/inlogging*@
        <div>
            @if (AccountSessionHelper.IsLoggedIn)
            {
                <h1>User is logged in</h1>
                <ul>
                    <li><b>Username: </b>@AccountSessionHelper.Account.UserName</li>
                    <li><b>UserId: </b>@AccountSessionHelper.Account.UserId</li>
                    <li>
                        <b>Rights: </b>
                        <ul>
                            @foreach (var right in AccountSessionHelper.Account.Rights)
                            {
                                <li>@right</li>
                            }
                        </ul>
                    </li>
                </ul>

            }
            else
            {
                <p class="alert_customized">For more actions, please <a asp-controller="Account" asp-action="Login">log in</a> 
            or <a asp-controller="Account" asp-action="Register">register</a> first</p>
            }
        </div>
        </div>

    </div>
</body>



