<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="CompanyName" value="DM Autoservice"/>
  </appSettings>

  <connectionStrings>
    <add name="BierenConnectionString“"
connectionString="Data Source=localhost;Initial Catalog=bierenDatabase;Integrated Security=True"/>
  </connectionStrings>
</configuration>