@model Presentation.DMAutoservice.Models.UserCarModels.CreateUserCarViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CreateUserCarViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create" asp-controller="UserCar">
            <input asp-for="Person.Id" type="hidden" />


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Person.Name" class="control-label"></label>
                <input asp-for="Person.Name" class="form-control" />
                <span asp-validation-for="Person.Name" class="text-danger"></span>
                <br />
                <label asp-for="Person.Surname" class="control-label"></label>
                <input asp-for="Person.Surname" class="form-control" />
                <span asp-validation-for="Person.Surname" class="text-danger"></span>
                <br />
                <label asp-for="Person.Email" class="control-label"></label>
                <input asp-for="Person.Email" class="form-control" />
                <span asp-validation-for="Person.Email" class="text-danger"></span>
                <br />
                <label asp-for="Person.PhoneNumber" class="control-label"></label>
                <input asp-for="Person.PhoneNumber" class="form-control" />
                <span asp-validation-for="Person.PhoneNumber" class="text-danger"></span>
                <br />
                <div class="form-group">
                    <select class="form-control"
                            asp-for="BrandId"
                            asp-items="@(new SelectList(Model.BrandsForDropDown,"Id","BrandName"))">
                        <option>-- select a brand --</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
