@model Presentation.DMAutoservice.Models.UserCarModels.EditUserCarViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Edit Car Owner Info</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input asp-for="UserCar.Id" type="hidden" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="UserCar.BrandId" class="control-label"></label>
            <input asp-for="UserCar.BrandId" class="form-control" />
            <span asp-validation-for="UserCar.BrandId" class="text-danger"></span>
        </div>*@
        <div class="form-group">
            <label asp-for="UserCar.Person.Id" class="control-label"></label>
            <input asp-for="UserCar.Person.Id" class="form-control" />
            <span asp-validation-for="UserCar.Person.Id" class="text-danger"></span>
        </div>

            <div class="form-group">
                <select class="form-control"
                        asp-for="UserCar.Brand.Id"
                        asp-items="@(new SelectList(Model.BrandsForDropDown,"Id","BrandName"))">
                    <option>-- select a brand --</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
